@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url("assets/Roboto-Light.ttf"); /*URL to font*/
}

* {
	--main-color: #4f46e5;
	--highlight-color: #fb923c;
	--contrast-gray: #94a3b8;
	--darker-contrast-gray: #64748b;
	--light-gray: #cbd5e1;
	--neutral-white: #f5f5f5;
	--transparent-contrast-gray: rgba(148, 163, 184, .5);
	--fast-transition: all 0.15s ease-out;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}

.layout {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: min(200px, 25%) 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar content";
}

.header {
	grid-area: header;
	font-size: 1.2rem;
	font-weight: bolder;
	background-color: var(--neutral-white);
	border-bottom: 3px solid var(--transparent-contrast-gray);
	padding: 1rem;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"searchbar profile-toolbar"
		"greeting button-toolbar"
}

.header .mdi {
	font-size: 1.5rem;
}

input {
	border: none;
	border-radius: 20px;
	background-color: var(--transparent-contrast-gray);
}

.searchbar {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-items: start;
}

.searchfield {
	flex-grow: 1;
	padding: 0.5rem;
	justify-self: stretch;
}

.searchfield:focus-visible {
	outline-color: var(--main-color);
}

.profile-toolbar {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 1rem;
}

.profile-image {
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
}

.profile-image-own {
	background-image: url(/assets/profile-picture.jpg);
}

.interactable-icon {
	transition: var(--fast-transition);
}

.interactable-icon:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.greeting {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 1rem;
}

.greeting-image {
	background-image: url(/assets/profile-picture.jpg);
	width: 70px;
	height: 70px;
	background-size: cover;
	border-radius: 50%;
}

.greeting-first-line {
	font-size: 1rem;
	margin-bottom: 8px;
}

.greeting-second-line {
	margin-top: 8px;
}

.button-toolbar {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 1rem;
}

.button-toolbar > button {
	outline: none;
	border: none;
	border-radius: 20px;
	background-color: var(--main-color);
	color: var(--neutral-white);
	width: 6rem;
	height: 2rem;
	font-weight: bold;
	cursor: pointer;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--main-color);
	padding-top: 10px;
	font-weight: bold;
}

nav > div {
	margin-left: 30px;
}

.sidebar-item {
	color: var(--neutral-white);
	font-size: 1.5rem;
	transition: var(--fast-transition);
	cursor: pointer;
}

.sidebar-item:hover {
	transform: scale(1.1);
}

.sidebar-item > a {
	text-decoration: none;
	color: var(--neutral-white);
}

.sidebar-header > .sidebar-item {
	font-size: 2.5rem;
	margin-left: -15px;
	margin-bottom: 4rem;
}

.sidebar-main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-bottom: 4rem;
}

.sidebar-footer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

main {
	grid-area: content;
	background-color: var(--light-gray);
	display: grid;
	gap: 1rem;
	grid-template: 1fr / 2fr 1fr;
	grid-template-areas: "main aside";
	font-weight: bolder;
	font-size: 1.3rem;
	padding: 1rem;
}

section {
	grid-area: main;
	display: grid;
	gap: 0.5rem;
	grid-template: auto 1fr / 1fr;
	grid-template-areas:
		"heading"
		"projects"
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

.project-panel {
	border: none;
	border-radius: 8px;
	display: flex;
	gap: 1rem;
	padding-right: 2rem;
	background-color: var(--neutral-white);
}

.project-panel-highlight-bar {
	width: 8px;
	border-radius: 8px 0 0 8px;
	background-color: var(--highlight-color);
}

.project-panel-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-panel-title {
	font-size: 1.1rem;
}

.project-panel-text {
	font-weight: lighter;
	font-size: 0.9rem;
	color: var(--darker-contrast-gray)
}

.project-panel-button-bar {
	display: flex;
	justify-content: end;
	gap: 1.5rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

aside {
	grid-area: aside;
	display: grid;
	gap: 0.5rem;
	grid-template: auto 1fr auto 1fr / 1fr;
	grid-template-areas:
		"heading"
		"aside-content"
}

.announcements-panel {
	border: none;
	border-radius: 8px;
	background-color: var(--neutral-white);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.announcement-panel-title {
	font-size: 1rem;
}

.announcement-panel-text {
	font-weight: lighter;
	font-size: 0.9rem;
	color: var(--darker-contrast-gray)
}

.panel-separator {
	width: 100%;
	height: 1px;
	border-bottom: 2px solid var(--transparent-contrast-gray);
}

.trending-container-panel {
	border: none;
	border-radius: 8px;
	background-color: var(--neutral-white);
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
}

.trending-panel {
	font-size: 0.9rem;
	display: grid;
	align-items: center;
	column-gap: 1rem;
	grid-template-columns: 50px 1fr;
	grid-template-rows: repeat(2, 25px);
	grid-template-areas:
		"image name-tag"
		"image comment"
}

.trending-panel-image {
	grid-area: image;
}

.trending-panel-name-tag {
	grid-area: name-tag;
}

.trending-panel-comment {
	grid-area: comment;
	color: var(--darker-contrast-gray);
}

.avatar-image1 {
	background-image: url(/assets/avatar1.svg);
}

.avatar-image2 {
	background-image: url(/assets/avatar2.svg);
}

.avatar-image3 {
	background-image: url(/assets/avatar3.svg);
}